html {
	background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%);
	background: -moz-linear-gradient(90deg, #485563 10%, #29323c 90%);
	background: -ms-linear-gradient(90deg, #485563 10%, #29323c 90%);
	background: -o-linear-gradient(90deg, #485563 10%, #29323c 90%);
	background: linear-gradient(90deg, #485563 10%, #29323c 90%);
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden
}

body {
	color: #E8E8E8;
	font-family: "Walter Turncoat", cursive;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black,0 -01px black;
	z-index: -1000;
	width: 90%;
	height: 90%;
	min-height: auto;
	margin: 30px auto 0 auto;
	background-color: #497959;
	padding: 20px 30px;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: -1px 2px 2px 0px #555, inset 0 0 10px 0 #555;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border: #B78240 solid 10px;
	background-image: url(../img/download.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}


body:after {
	content: "";
	display: block;
	position: fixed;
	-webkit-border-radius: 0.1em 0.1em 0 0.1em;
	-khtml-border-radius: 0.1em 0.1em 0 0.1em;
	-moz-border-radius: 0.1em 0.1em 0 0.1em;
	-ms-border-radius: 0.1em 0.1em 0 0.1em;
	-o-border-radius: 0.1em 0.1em 0 0.1em;
	border-radius: 0.1em 0.1em 0 0.1em;
	width: 50px;
	height: 8px;
	background: #f1f1f1;
	top: 91%;
  margin-top: 4px;
	margin-right: 8%;
	right: 5%;
	box-shadow: inset 0 -4px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.3)
}

/*flip card*/
.card {
  margin-top: 30px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  color: white;
  font-size: 15px;
  position: relative;
  padding: 0 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  overflow-y: auto;
}

/*end of flip card*/

/*back ground setting*/
.knightbg {
  background-color: Indigo;
}

.wizardbg {
  background-color: CornflowerBlue;
}

.girlbg{
  background-color: MediumOrchid;
}
.archerbg{
  background-color: Sienna;
}

/*end of background setting*/

/*friend list setting*/
.friend-list {
  h2 {
    text-decoration-line: underline;
    color: Cyan;
    text-align: left;
    margin-left: 10px;
  }

  ul {
  	font-size: 20px;
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow-y: scroll;
    height: 350px;
  }

  li {
    text-decoration: none;
    color: #fff;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 97%;
    border-bottom: 2px solid #ccc;
    padding-right: 5px;
  }

  li:last-child {
    border: none;
  }

  li:hover {
    font-size: 24px;
    background: #008B8B;
  }
}
/*end of friend list setting*/

/*choose invite setting*/
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  margin-top: 6px;
  position: relative;
  padding: 0 20px;
  float: right;
  border-radius: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
}

.action-button:hover {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}

.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0 -2px #669644;
}

.action-button:active {
  transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  border-bottom: 1px solid;
}

/*end of invite button setting*/

/*image setting*/
.thumbnail {
  margin-right: auto;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.ava {
	border-radius: 15px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*end of image setting*/

/*start button setting*/
.start-button {
  height: 100px;
  width: 180px;
  margin: 30px auto 0;
  .outer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    box-shadow: inset rgba(0, 0, 0, 0.85) 0 1px 5px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.85) 0 1px 5px;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.85) 0 1px 5px;
    -webkit-transform: perspective(500px) rotateX(35deg);
    -moz-transform: perspective(500px) rotateX(35deg);

    .height {
      position: relative;
      height: 100%;
      margin-top: -15px;
      padding-bottom: 15px;
      background: #39a02d;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.85) 0 1px 1px, inset rgba(0, 0, 0, 0.35) 0 -2px 8px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.85) 0 1px 1px, inset rgba(0, 0, 0, 0.35) 0 -2px 8px;
      -moz-box-shadow: rgba(0, 0, 0, 0.85) 0 1px 1px, inset rgba(0, 0, 0, 0.35) 0 -2px 8px;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;

      .inner {
        line-height: 2em;
        font-size: 30px;
        letter-spacing: .05em;
        position: relative;
        height: 100%;
        text-align: center;
        text-shadow: #8aff7b 0 0 1px;
        background: #44d135;
        background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80ec75), color-stop(100%, #43d034)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #80ec75 0%, #43d034 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(top, #80ec75 0%, #43d034 100%); /* W3C */
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        box-shadow: inset rgba(255, 255, 255, 0.85) 0 0 1px;
        -webkit-box-shadow: inset rgba(255, 255, 255, 0.85) 0 0 1px;
        -moz-box-shadow: inset rgba(255, 255, 255, 0.85) 0 0 1px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
      }
    }
  }

  &.active {
    cursor: pointer;

    &:hover {
      .outer .height {
        margin-top: -10px;
        padding-bottom: 10px;
        background: #3aaf2d;
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px, inset rgba(0, 0, 0, 0.35) 0 -2px 6px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px, inset rgba(0, 0, 0, 0.35) 0 -2px 6px;
        -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px, inset rgba(0, 0, 0, 0.35) 0 -2px 6px;

        .inner {
          text-shadow: #99f48d 0 0 1px;
          background: #43d034; /* Old browsers */
          background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #43d034), color-stop(100%, #67e45c)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #43d034 0%, #67e45c 100%); /* Chrome10+,Safari5.1+ */
          background: linear-gradient(top, #43d034 0%, #67e45c 100%); /* W3C */
        }
      }
    }

    &:active {
      .outer .height {
        margin-top: 0;
        padding-bottom: 0;

        .inner {
          text-shadow: #319926 0 1px 0;
          border-radius: 16px;
          -webkit-border-radius: 16px;
          -moz-border-radius: 16px;
          box-shadow: inset rgba(0, 0, 0, 0.9) 0 0 8px;
          -webkit-box-shadow: inset rgba(0, 0, 0, 0.9) 0 0 8px;
          -moz-box-shadow: inset rgba(0, 0, 0, 0.9) 0 0 8px;
          background: #1d7d12; /* Old browsers */
          background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d7d12), color-stop(100%, #4fd342)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* Chrome10+,Safari5.1+ */
          background: linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* W3C */
        }
      }
    }
  }
}
/*end of start button setting*/

/*mode button setting*/
.push_button {
  position: relative;
  width: 220px;
  height: 200px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  line-height: 185px;
  font-size: 25px;
  font-family: 'Oswald', Helvetica;
  display: block;
  margin: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.push_button:before {
  background: #f0f0f0 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

  position: absolute;
  content: "";
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -10px;
  z-index: -1;
}

.push_button:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top: 5px;
}

.push_button:active:before {
  top: -11px;
  bottom: -5px;
  content: "";
}

.red {
  text-shadow: -1px -1px 0 #A84155;
  background: #D25068;
  border: 1px solid #D25068;

  background-image: -webkit-linear-gradient(top, #F66C7B, #D25068);
  background-image: -moz-linear-gradient(top, #F66C7B, #D25068);
  background-image: -ms-linear-gradient(top, #F66C7B, #D25068);
  background-image: -o-linear-gradient(top, #F66C7B, #D25068);
  background-image: linear-gradient(to bottom, #F66C7B, #D25068);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}

.red:hover {
  background: #F66C7B;
  background-image: -webkit-linear-gradient(top, #D25068, #F66C7B);
  background-image: -moz-linear-gradient(top, #D25068, #F66C7B);
  background-image: -ms-linear-gradient(top, #D25068, #F66C7B);
  background-image: -o-linear-gradient(top, #D25068, #F66C7B);
  background-image: linear-gradient(top, #D25068, #F66C7B);
}

.blue {
  text-shadow: -1px -1px 0 #2C7982;
  background: #3EACBA;
  border: 1px solid #379AA4;
  background-image: -webkit-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: -moz-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: -ms-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: -o-linear-gradient(top, #48C6D4, #3EACBA);
  background-image: linear-gradient(top, #48C6D4, #3EACBA);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
  background: #48C6D4;
  background-image: -webkit-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: -moz-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: -ms-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: -o-linear-gradient(top, #3EACBA, #48C6D4);
  background-image: linear-gradient(top, #3EACBA, #48C6D4);
}

.yellow {
  text-shadow: -1px -1px 0 #B7950B;
  background: #D4AC0D;
  border: 1px solid #B7950B;
  background-image: -webkit-linear-gradient(top, #F4D03F, #D4AC0D);
  background-image: -moz-linear-gradient(top, #F4D03F, #D4AC0D);
  background-image: -ms-linear-gradient(top, #F4D03F, #D4AC0D);
  background-image: -o-linear-gradient(top, #F4D03F, #D4AC0D);
  background-image: linear-gradient(top, #F4D03F, #D4AC0D);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #F1C40F, 0 4px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #F1C40F, 0 4px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #F1C40F, 0 4px 2px rgba(0, 0, 0, .5);
}

.yellow:hover {
  background: #48C6D4;
  background-image: -webkit-linear-gradient(top, #D4AC0D, #F4D03F);
  background-image: -moz-linear-gradient(top, #D4AC0D, #F4D03F);
  background-image: -ms-linear-gradient(top, #D4AC0D, #F4D03F);
  background-image: -o-linear-gradient(top, #D4AC0D, #F4D03F);
  background-image: linear-gradient(top, #D4AC0D, #F4D03F);
}

.select-box {
  font-size: 18px;
  margin-left: 20px;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid navy;
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;
}

.versus {
  margin-top: 20px;
  height: 180px;

}

.attack-game-box {
  position: relative;
  .blacked-out {
    z-index: 1;
    background: black;
    height: 600px;
  }

  .play-area {
    .answer-box {
    	margin-top: 20px;
      height: 280px;
      overflow-y: auto;

      &.left-box {
        border-right: Silver solid 1px;
      }
    }
  }

  .health-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 20px;
    padding: 5px;
    background: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }
  .bar {
    background: #c54;
    width: 100%;
    height: 10px;
    position: relative;
    font-size: 9px;
    color: white;
    transition: width .5s linear;
  }

  .hit {
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;

    transition: width .5s linear;
  }

  div[id^="content"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.VueCarousel-wrapper {
  .avatar {
    position: relative;
    max-width: 100px;
    max-height: 100px;

    .overlay {
      position: absolute;
      bottom: 0;
      background: rgba(256, 256, 256, 0.5);
      color: #f1f1f1;
      width: 100%;
      height: 100%;
      transition: .5s ease;
      border-radius: 50%;
      z-index: 100;
    }
  }
}

.game-list {
  /*fire setting*/
  .fire {
    animation: burn 1.5s linear infinite alternate;
    -webkit-animation: burn 1.5s linear infinite alternate;
    -moz-animation: burn 1.5s linear infinite alternate;
    -ms-animation: burn 1.5s linear infinite alternate;
  }

  @keyframes burn {
    from {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e;
    }
    45% {
      text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e;
    }
    70% {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e;
    }
    to {
      text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e;
    }
  }

  @-webkit-keyframes burn {
    from {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e;
    }
    45% {
      text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e;
    }
    70% {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e;
    }
    to {
      text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e;
    }
  }

  @-moz-keyframes burn {
    from {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e;
    }
    45% {
      text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e;
    }
    70% {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e;
    }
    to {
      text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e;
    }
  }

  @-ms-keyframes burn {
    from {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e;
    }
    45% {
      text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e;
    }
    70% {
      text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e;
    }
    to {
      text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e;
    }
  }
  /*end of fire setting*/

  .reset {
    line-height: 40px;
    margin: 25px;
    height: 120px;
  }

  .scrollable {
    height: 500px;
    overflow: auto;
  }

  .big-text {
    font-size: 30px;
    color: white;
    margin-left: 10px;
    float: left;
    text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -01px black;
  }

  input {
    height: 30px;
    width: 30px;
    font-size: 30px;
    float: left;
    margin-left: 25%;
  }
}
